src/test/resources/sample.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://highlyrefined.com/xml/sample" targetNamespace="http://highlyrefined.com/xml/sample">
	<xsd:simpleType name="simpleString">
	</xsd:simpleType>
	<xsd:simpleType name="simpleDouble">
	</xsd:simpleType>
	<xsd:complexType name="complexString">
	</xsd:complexType>
	<xsd:complexType name="complexDouble">
	</xsd:complexType>
	<!-- Make an integer list and double list -->
	<xsd:element name="string" type="complexString"/>
</xsd:schema>